# Gradle
.gradle/
build/
/captures/
.externalNativeBuild/
.cxx/
.kotlin/

# Android Studio / IntelliJ
.idea/
*.iml
local.properties

# Archivos generados de la compilación
*.apk
*.aab
*.ap_
*.dex
*.class
output-metadata.json

# Claves de firma
*.jks
*.keystore

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log
